/* Main CSS file for A2 in CSC309 Fall 2014, by Sang-Ah Han (g2sangah) & Binuri Walpitagamage (g3tdirty) */

html {
}

body {
	background: rgb(161,202,241); /* Old browsers */
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
}

#game-window{

}

