/* Main CSS file for A2 in CSC309 Fall 2014, by Sang-Ah Han (g2sangah) & Binuri Walpitagamage (g3tdirty) */
@font-face {
	font-family: RobotoCondensed-Light;
	src: url(ttf/RobotoCondensed-Light.ttf);
}

html {
}

body {
	background: #eee;
	padding: 0;
	margin: 0;
	font-family: RobotoCondensed-Light, sans-serif;
}

#wrapper {
	margin: 0 auto;
	overflow: hidden;
}

#game-window{
	margin-top: 20px;
	background: rgba(0, 0, 0, 0.87);
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

#stats {
	font-size: 1.7em;
	background: #5C6BC0;
	overflow: auto;
	padding: 10px;
	margin-top: 5px;
	color: #fff;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#score {
	float: right;
}

#balls {
	float: left;
}

#error {
	margin: 0 auto;
	text-align: center;
}

@media only screen and (min-width: 800px) and (min-height: 631px) {	
	#wrapper {
		width: 800px;
		visibility: visible;
	}
	#error {
		visibility: hidden;
	}
}

@media only screen and (max-width: 799px), only screen and (max-height: 630px){
	#wrapper {
		width: 100%;
		visibility: hidden;
	}
	#error {
		visibility: visible;
	}
}
