/* Main CSS file for A2 in CSC309 Fall 2014, by Sang-Ah Han (g2sangah) & Binuri Walpitagamage (g3tdirty) */

html {
}

body {
	background: url(brick-pattern.jpg);
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
}

#game-window{
	margin-top: 100px;
	background: rgba(0, 0, 0, 0.5);
}

#score-div {
	text-align: center;
	font-size: 2em;
	background: #ff0;
}
