/* Main CSS file for A2 in CSC309 Fall 2014, by Sang-Ah Han (g2sangah) & Binuri Walpitagamage (g3tdirty) */
@font-face {
	font-family: Roboto;
	src: url(../ttf/Roboto-Regular.ttf);
}

@font-face {
	font-family: Roboto;
	src: url(../ttf/Roboto-Bold.ttf);
	font-weight: bold;
}

* {
	font-size: 1em;
	font-family: Roboto, Arial, "Helvetica Neue", Helvetica, sans-serif;
}	

html {
}

body {
	background-color: #FAFAFA;
	padding: 0;
	margin: 0;
}


h1 {
	font-size:1.75em;
	font-weight:normal;
}

h2{
	font-size:1.5em;
	font-weight:normal;
}

h3{
	font-size:1.25em;
	font-weight:normal;
}

a{
	text-decoration: none;
}

a:link, 
a:visited {
	color: #DD2C00;
}


.button, 
#main .button, 
a:link.button,
a:visited.button {
	border: 0;
	background: #FF6E40;
	color: #eee;
	display: inline-block;
	padding: 0.5em;
}

a:hover, 
a:active, 
#main a:hover.button,
#main a:active.button,
a:hover.button, 
a:visited.button, 
#main input:hover.button,
input:hover.button
{
	border: 0;
	color: #FAFAFA;
	background-color: #303F9F;
}

.clearfix {
	clear: both;
}
#header {
	background-color: #5C6BC0;
	padding: 1em;
	color: #FAFAFA;
	font-weight: lighter;
}

#header #site-name{
	font-size: 2.5em;
}

#header a:link, 
#header a:visited {
	color: #FAFAFA;
}

#header a:hover, 
#header a:active {
	color: #C5CAE9;
	background: none;
}

#header #main-nav {
	float:right;
}

#header #main-nav #links {
	float: right;
	list-style-type:none;
}

#header #main-nav #links li {
	margin: 0 1em 0 0;
	display: inline;
}

#header #main-nav #menu-button{
	width: 2.5em;
	height: 2.5em;
	cursor: pointer;
}

#header #main-nav #menu-button .menu-button-bar {
	background-color: #FAFAFA;
	width: 2.5em;
	height: 0.5em;
	margin: 0.25em 0 0 0;
}

#header #dropdown {
	width: 100%;
	clear: both;
	display: none;
}

#header #dropdown ul {
	list-style-type: none;
	padding: 0;
	margin: 0; 
}

#header #dropdown ul li{
	list-style-type:none;
	clear: both;
	margin: 0; 
}

#header #dropdown ul li a{
	display: block;
	padding: 0.25em;
}

#header #dropdown ul li a:hover, 
#header #dropdown ul li a:active{
	background-color: #283596;
}

#main-wrapper, #header-wrapper{
	width: 80%;
	margin: 0 auto;
}

#main{
	margin: 1em;
}

#main label {
	font-weight: bold;
}

#main input,
#main select,
#main textarea{
	padding: 0.25em 0;
	margin: 0 0 1em 0;
	display: block;
	background-color: #E0E0E0;
	border: #BDBDBD 0px solid;
}

#main p.error {
	margin: 0;
}

/* shared amongst select views */

div.products-table-cell, 
div.products-read-cell,
div.cart-cell,
div.admin-table-cell{
	background-color:#E0E0E0;
	border-style: solid;
	border-color: #757575;
	border-width: 0 0 1px 0; /* 1em space below each cell */
	padding: 0;
	margin: 0 0 0.5em 0;
}
div.cart-cell ul.actions, 
div.products-table-cell ul.actions,
div.admin-table-cell ul.actions{
	list-style-type:none;
	clear: both;
	padding: 0.2em 0;
	background: #BDBDBD;
	margin: 0;
	text-align: right;
}
div.products-table-cell h2,
div.cart-cell h2,
div.admin-table-cell h2{
	font-size: 1.25em;
	margin: 0 0 0.5em 0;
}

div.products-table-cell ul.actions li,
div.cart-cell ul.actions li,
div.admin-table-cell ul.actions li{
	display: inline;
	margin: 0 0.75em 0 0; /* space after each action link per cell */
}
div.cart-cell p,
div.admin-table-cell p{
	margin: 0;
}

div.products-table-cell .info ,
div.admin-table-cell .info ,
div.cart-cell .info {
	float: left;
	margin: 0.75em;
}

div.actions {
	margin: 1em 0 0 0 ;
}

/* store/list */
div.products-table-cell .description {
	margin: 0;
	width: 100%;
}

div.products-table-cell .product-photo {
	float: left; 
	margin: 0 0.5em 0 0;
	max-height: 100px;
	max-width: 100px;
}

div.products-table-cell .info {
	min-width: 50%;
}

/* store/read */

div.products-read-cell {
	margin: 0;
	padding: 0.75em;
}

div.products-read-cell .product-photo {
	max-width: 100%;
}

div.products-read-cell p {
	margin: 0.1em 0;
}

/* cart */

div.cart-cell .quantity-control {
	display: inline-block;
	float: right;
	height: 100%;
	margin: 1em;
}

div.cart-cell .quantity-control {
	display: inline-block;
}

div.cart-cell .quantity-control .quantity {
	text-align: center;
	margin: 0 1em;
}
#main div.cart-cell .quantity-control .spinner a.button{
	text-align: center;
	padding: 0 1em;
}

div.cart-cell h3 {
	margin: 0;
}

div#cart-total #total {
	padding: 0.75em 0 0 0;	
	display: inline-block;
}

div#cart-total #checkout ,
div#cart-total #summary-total {
	float: right;
}

/* mobile */

@media screen and (max-width: 600px) {
	#main-wrapper,
	#header-wrapper {
		width: 100%;
	}

	#main form,
	#main input, 
	#main textarea{
		width: 100%;
	}


	#header #main-nav #links {
		display: none;
	}

	#header #main-nav #menu-button
	{
		display: block;
	}

}

@media screen and (min-width: 601px) {
	#main form,
	#main input, 
	#main textarea{
		width: auto;
	}
	#header #main-nav #links {
		display: inline-block;
	}
	#header #main-nav #menu-button{
		display: none;
	}
}
