<!DOCTYPE html>
<html>
	<head>
		<title>Assignment 3: eStore</title>
		<meta charset="utf-8">
		<meta name="description" content="eStore for g2sangah & g3tdirty's submission of A3, CSC309 Fall 2014">
		<link href="style.css" type="text/css" rel="stylesheet">
		<script src="js/jquery.min.js"></script>
		<script src="js/estore.js"></script>
	</head>
	<body>
		<div id="wrapper">
			<canvas id="" width="800" height= "550"></canvas>
			<div id="stats">
				<span id="balls"></span>
				<span id="score"></span>
			</div>
		</div>
	</body>
</html>
