/* Main CSS file for A1 in CSC309 Fall 2014, by Sang-Ah Han (g2sangah) & Binuri Walpitagamage (g3tdirty) */

html {
}

body {
	background: rgb(161,202,241); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(161,202,241) 0%, rgb(108,160,220) 100% fixed); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(161,202,241)), color-stop(100%,rgb(108,160,220)) fixed); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgb(161,202,241) 0%,rgb(108,160,220) 100% fixed); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgb(161,202,241) 0%,rgb(108,160,220) 100% fixed); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgb(161,202,241) 0%,rgb(108,160,220) 100% fixed); /* IE10+ */
	background: linear-gradient(to bottom, rgb(161,202,241) 0%,rgb(108,160,220) 100% fixed); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1caf1', endColorstr='#6ca0dc',GradientType=0); /* IE6-9 */
	padding: 0;
	margin: 0;
}

div {
}

.panel {
	border: 1px solid #000;
	background: #fff;
	margin: 9px;
	padding: 9px;
}

#header,
#footer {
	border-radius: 5px;
}



/* desktop */
@media only screen 
and (min-width: 1240px) {
	body {
	}
	#wrapper {
		width: 1240px;
		margin: 0 auto;
	}
	#inner-wrapper {
		float: left;
		width: 920px;
		margin-bottom: 10px;
	}

	#header, 
	#footer {
		clear: both;
	}
	
	#navigation {
		float: left;
		width: 280px;
	}

	#body {
		float: right;
		width: 560px;
	}

	#side-panel {
		float: right;
		width: 280px;
	}

}

/* smartphone */
@media only screen 
and (max-width: 1240px) {
	body {
	}
	
	#wrapper {
		width: 100%;
		max-width: 980px;
		margin: 0 auto;
	}
	#inner-wrapper {
	}

	#navigation {
	}

	#body {
	}

	#side-panel {
	}

}
