/* Main CSS file for A1 in CSC309 Fall 2014, by Sang-Ah Han (g2sangah) & Binuri Walpitagamage (g3tdirty) */

html {
}

body {
	background: -webkit-linear-gradient(rgb(161, 202, 241), rgb(108, 160, 220)) fixed; /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(161, 202, 241), rgb(108, 160, 220)) fixed; /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgb(161, 202, 241), rgb(108, 160, 220)) fixed; /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgb(161, 202, 241), rgb(108, 160, 220)) fixed; /* Standard syntax */
	padding: 0;
	margin: 0;
}

div {
}

.panel {
	border: 1px solid #000;
	background: #fff;
	margin: 9px;
	padding: 9px;
}

#header,
#footer {
	border-radius: 5px;
}



/* desktop */
@media only screen 
and (min-width: 1240px) {
	body {
	}
	#wrapper {
		width: 1240px;
		margin: 0 auto;
	}
	#inner-wrapper {
		float: left;
		width: 920px;
		margin-bottom: 10px;
	}

	#header, 
	#footer {
		clear: both;
	}
	
	#navigation {
		float: left;
		width: 280px;
	}

	#body {
		float: right;
		width: 560px;
	}

	#side-panel {
		float: right;
		width: 280px;
	}

}

/* smartphone */
@media only screen 
and (max-width: 1240px) {
	body {
	}
	
	#wrapper {
		width: 100%;
		max-width: 980px;
		margin: 0 auto;
	}
	#inner-wrapper {
	}

	#navigation {
	}

	#body {
	}

	#side-panel {
	}

}
